{% extends "base.html" %}

{% block content %}
<h2>Admin Dashboard</h2>
<p>Welcome Admin 👨‍💼</p>

<ul>
    <li><a href="/admin/add-course">Add Course</a></li>
    <li><a href="/courses">View Courses</a></li>
    <li><a href="{{ url_for('admin_enrollments') }}">View Enrollments</a></li>

</ul>

<h3>All Courses</h3>
<ul>
{% for course in courses %}
    <li>
        <strong>{{ course.title }}</strong> – {{ course.description }}
    </li>
{% endfor %}
</ul>

<a href="/logout">Logout</a>


{% endblock %}
