{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Explore Courses | BharatLearn</title>
</head>
<body>

<h2>Explore Courses</h2>

<form method="GET">
    <select name="programming_language">
        <option value="">Programming Language</option>
        <option value="Python">Python</option>
        <option value="Java">Java</option>
        <option value="Web">Web</option>
    </select>

    <select name="audio_language">
        <option value="">Audio Language</option>
        <option value="English">English</option>
        <option value="Hindi">Hindi</option>
    </select>

    <select name="difficulty">
        <option value="">Difficulty</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
    </select>

    <button type="submit">Filter</button>
</form>

<hr>

<div class="course-container">
  {% for course in courses %}
  <div class="course-card">
    <img src="/static/images/default-course.png" style="width:300px;height:200px;">


    <h3>{{ course.title }}</h3>
    <p>{{ course.description }}</p>

    <span class="tag">{{ course.language }}</span>
    <span class="tag">{{ course.difficulty }}</span>

    <p class="source">Source: {{ course.source }}</p>

    <a href="{{ course.course_link }}" target="_blank" class="btn">
      Visit Course
    </a>
  </div>
  {% endfor %}
</div>


</body>
</html>

<a href="/">Back to Home</a>
{% endblock %}


